<form class="form-horizontal" role="form" role="form" method="post">

    <div class="form-group">
        {{ form_label(form.textoPregunta) }}
        <div class="col-sm-4">
            {{ form_widget(form.textoPregunta) }}
        </div>
        {{ form_label(form.tipoPregunta) }}
        <div class="col-sm-4">
            {{ form_widget(form.tipoPregunta) }}
        </div>
        
    </div>
</form>